*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#050816;
    color:#fff;
    overflow-x:hidden;
}

/* Background */

.background{
    position:fixed;
    width:100%;
    height:100%;
    background:
    radial-gradient(circle at top left,#153c8d 0%,transparent 35%),
    radial-gradient(circle at bottom right,#6c2cff 0%,transparent 30%),
    #050816;
    z-index:-1;
}

/* Navbar */

nav{
    width:90%;
    margin:auto;
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{

    font-size:40px;
    color:#00bfff;
    font-weight:700;

}

nav ul{

    display:flex;
    list-style:none;
    gap:40px;

}

nav ul li a{

    color:white;
    text-decoration:none;
    transition:.3s;

}

nav ul li a:hover{

    color:#00bfff;

}

/* Hero */

.hero{

    width:90%;
    margin:auto;

    min-height:90vh;

    display:flex;
    justify-content:space-evenly;
    align-items:center;

}

.left{

    width:55%;

}

.right{

    width:40%;
    position:relative;

}
.auto-type{
    color:#00d9ff;
    font-weight:bold;
}

.hero h2{
    font-size:45px;
    color:white;
}

/* Welcome */

.welcome{

    font-size:22px;
    margin-bottom:25px;

}

/* Name */

.name{

    display:flex;
    gap:2px;
    flex-wrap:wrap;
    margin-bottom:25px;
    text-shadow: 0 0 15px rgba(0,212,255,.5);

}

.name span{
    display:inline-block;
    opacity:0;
    font-size:80px;
    font-weight:400;
    background:linear-gradient(90deg,#00d4ff,#7b61ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-100px);
    animation:drop 0.6s forwards;

}

.name span:nth-child(1){animation-delay:.0s;}
.name span:nth-child(2){animation-delay:.3s;}
.name span:nth-child(3){animation-delay:.6s;}
.name span:nth-child(4){animation-delay:.9s;}
.name span:nth-child(5){animation-delay:1.2s;}
.name span:nth-child(6){animation-delay:1.5s;}
.name span:nth-child(7){animation-delay:1.8s;}
.name span:nth-child(8){animation-delay:2.1s;}
.name span:nth-child(10){animation-delay:2.4s;}

.space{

    width:30px;

}


.btn1:hover{
    box-shadow:0 0 20px cyan,0 0 40px cyan;

}

@keyframes glow{

0%{

opacity:.3;
transform:translateY(30px);

}


50%{

opacity:1;
text-shadow:0 0 25px cyan;

transform:translateY(0);

}

100%{

opacity:.3;
transform:translateY(30px);

}

}
@keyframes drop{

0%{
    opacity:0;
    transform:translateY(-100px);
}

70%{
    opacity:1;
    transform:translateY(10px);
}

100%{
    opacity:1;
    transform:translateY(0);
}

}

/* Heading */

h2{

    font-size:45px;
    margin-bottom:20px;

}

h2 span{

    color:#00bfff;

}

.skills{

    font-size:23px;

    color:#ddd;

    margin-bottom:35px;

}

/* Buttons */

.buttons{

display:flex;
gap:20px;

}

.btn1,.btn2{

padding:15px 35px;

border-radius:40px;

text-decoration:none;

font-size:18px;

transition:.4s;

}

.btn1{

background:#2f6bff;
color:white;

}

.btn2{

border:2px solid #00bfff;
color:white;

}

.btn1:hover{

box-shadow:0 0 25px #2f6bff;

}

.btn2:hover{

background:#00bfff;
color:black;

}
.orbit{
    animation:rotateRing 10s linear infinite;
}

/* Social */

.social{

margin-top:45px;
display:flex;
gap:20px;

}

.social i{

width:55px;
height:55px;

border-radius:50%;

background:#101b35;

display:flex;

justify-content:center;
align-items:center;

font-size:22px;

cursor:pointer;

transition:.4s;

}

.social i:hover{

background:#00bfff;

transform:translateY(-8px);

}

/* Profile */

.photo{

width:420px;
height:420px;
transition: .5s;


border-radius:50%;

overflow:hidden;

border:6px solid #00bfff;

box-shadow:0 0 45px #00bfff;

}
@keyframes rotateRing{
    from{
        transform:rotate(0deg);

    }
    to{
        transform:rotate(360deg);
    }
}
.photo:hover{
    transform:scale(1.05);
}

.photo img{

width:100%;
height:100%;
object-fit:cover;

}


.right{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Outer Ring */

.orbit{

    position:absolute;

    width:560px;
    height:560px;

    border:2px solid rgba(0,191,255,.25);

    border-radius:50%;

    animation:rotateRing 15s linear infinite;

}

/* Inner Glow Ring */

.ring{

    position:absolute;

    width:460px;
    height:460px;

    border-radius:50%;

    border:3px solid #00bfff;

    box-shadow:
    0 0 20px cyan,
    0 0 40px cyan,
    0 0 80px cyan;

    animation:pulse 2s infinite alternate;

}

/* Floating Icons */

.icon{

    animation:
    float 4s ease-in-out infinite,
    rotateIcons 15s linear infinite;

}

/* Orbit Rotation */

@keyframes rotateRing{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}

/* Glow Pulse */

@keyframes pulse{

0%{

box-shadow:
0 0 20px cyan;

}

100%{

box-shadow:
0 0 70px cyan,
0 0 120px cyan;

}

}

/* Icons Rotate */

@keyframes rotateIcons{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}
/* Floating Icons */

.icon{

position:absolute;

width:70px;

height:70px;

border-radius:50%;

background:#101b35;

display:flex;

justify-content:center;
align-items:center;

font-size:30px;

box-shadow:0 0 20px #00bfff;

animation:float 4s infinite ease-in-out;

}

.python{

top:-20px;
left:30px;

}

.sql{

top:50px;
right:-20px;

}

.github{

bottom:20px;
right:0;

}

.chart{

bottom:50px;
left:20px;

}

@keyframes float{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

}
.typing{

    font-size:45px;
    color:#00bfff;
    font-weight:700;

}
/* Profile Container */

.right{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Outer Ring */

.orbit{

    position:absolute;

    width:560px;
    height:560px;

    border:2px solid rgba(0,191,255,.25);

    border-radius:50%;

    animation:rotateRing 15s linear infinite;

}

/* Inner Glow Ring */

.ring{

    position:absolute;

    width:460px;
    height:460px;

    border-radius:50%;

    border:3px solid #00bfff;

    box-shadow:
    0 0 20px cyan,
    0 0 40px cyan,
    0 0 80px cyan;

    animation:pulse 2s infinite alternate;

}

/* Floating Icons */

.icon{

    animation:
    float 4s ease-in-out infinite,
    rotateIcons 15s linear infinite;

}

/* Orbit Rotation */

@keyframes rotateRing{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}

/* Glow Pulse */

@keyframes pulse{

0%{

box-shadow:
0 0 20px cyan;

}

100%{

box-shadow:
0 0 70px cyan,
0 0 120px cyan;

}

}

@keyframes dropSkill{

0%{
    opacity:0;
    transform:translateY(-100px);
}

100%{
    opacity:1;
    transform:translateY(0);
}

}

/* Icons Rotate */

@keyframes rotateIcons{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}
#paticles-js{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

/*about section*/

.about-card{

width:550px;

padding:35px;

background:rgba(255,255,255,.08);

border:2px solid rgba(0,191,255,.4);

border-radius:20px;

backdrop-filter:blur(10px);

box-shadow:0 0 25px rgba(0,191,255,.3);

color:white;

}

.about-card h1{

font-size:50px;

color:#00d4ff;

margin-bottom:20px;

}

.about-card p{

font-size:20px;

line-height:35px;

}

html{
    scroll-behavior:smooth;
}

.about{
    min-height:100vh;
    padding:100px 80px;
    background:linear-gradient(135deg,#0f172a,#111827,#1e293b);
    animation: fadeUp 1s ease;
}
@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(60px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
.about h2{
    color:#00d4ff;
    font-size:50px;
    margin-bottom:30px;
    position:relative;
}
.about h2::after{
    content:"";
    width:120px;
    height: 4px;
    background: #00d4ff;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
}

.about-box{
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(15px);
    border: 1px solid rgba(0,212,255,.4);

    padding:35px;
    border-radius:20px;
    color:white;
    line-height:30px;
    box-shadow:0 0 25px rgba(0,212,255,.3);
    transition:.4s;
}
.about-box:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 40px #00d4ff;
}
nav ul li a{
    color:white;
    text-decoration:none;
}

nav ul li a:visited{
    color:white;
    text-decoration:none;
}
.highlight{
    color:#00d4ff;
    font-weight: 700;
}

.about-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-top:40px;
}

.card{
    background:rgba(255,255,255,0.08);
    border:1px solid #00d4ff;
    border-radius:18px;
    padding:25px;
    transition:.4s;
    color:white;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px #00d4ff;
}

.card h3{
    color:#00d4ff;
    margin-bottom:15px;
}

.card p{
    margin:8px 0;
}


.skills{
    padding:100px 8%;
    background:#0b1120;
}

.skills h2{
    font-size:50px;
    color:white;
    margin-bottom:50px;
}

.skills h2 span{
    color:#00d4ff;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.skill-card{
    background:#111827;
    border:1px solid #00d4ff;
    border-radius:20px;
    padding:35px;
    text-align:center;
    transition:.4s;
}

.skill-card i{
    font-size:50px;
    color:#00d4ff;
    margin-bottom:20px;
}

.skill-card h3{
    color:white;
    margin-bottom:10px;
}

.skill-card p{
    color:#cbd5e1;
}

.skill-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #00d4ff;
}

.projects{
padding:100px 8%;
background:#08111f;
}

.project-container{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.project-card{
background:#111827;
padding:30px;
border-radius:15px;
border:2px solid #00cfff;
transition:.4s;
box-shadow:0 0 20px rgba(0,191,255,.2);
}

.project-card:hover{
transform:translateY(-10px);
box-shadow:0 0 30px #00cfff;
}

.project-card h3{
color:#00cfff;
margin-bottom:15px;
}

.project-card p{
color:white;
line-height:1.7;
margin-bottom:20px;
}

.project-buttons{
display:flex;
justify-content:space-between;
}

.project-buttons a{
text-decoration:none;
padding:10px 20px;
background:#00cfff;
color:black;
font-weight:bold;
border-radius:30px;
transition:.3s;
}

.project-buttons a:hover{
background:white;
}
.certificates{
    padding: 80px 10%;
    text-align: center;
}

.heading{
    font-size: 40px;
    margin-bottom: 40px;
    color: #00e5ff;
}

.certificate-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.certificate-card{
    width: 300px;
    background: rgba(255,255,255,0.05);
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    transition: 0.3s;
}

.certificate-card:hover{
    transform: translateY(-10px);
}

.certificate-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.certificate-card h3{
    margin: 15px 0 10px;
}

.certificate-card p{
    margin-bottom: 15px;
}

.certificate-card a{
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #00e5ff;
    border-radius: 25px;
    color: #00e5ff;
}

.certificate-card a:hover{
    background: #00e5ff;
    color: black;
}
.contact{
    padding:80px 10%;
    background:#0b1120;
}

.section-title{
    text-align:center;
    font-size:40px;
    color:#00d9ff;
    margin-bottom:40px;
}

.contact-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.contact-card{
    background:#111827;
    border:2px solid #00d9ff;
    border-radius:15px;
    padding:25px;
    text-align:center;
    transition:0.4s;
}

.contact-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px #00d9ff;
}

.contact-card i{
    font-size:35px;
    color:#00d9ff;
    margin-bottom:15px;
}

.contact-card h3,
.contact-card p,
.contact-card a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.contact-card a:hover{
    color:#00d9ff;
}
.about{
    padding:100px 10%;
    background:#08111f;
}

.about-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.about-text{
    flex:1;
}

.about-text h2{
    color:#00d9ff;
    font-size:45px;
    margin-bottom:20px;
}

.about-text h3{
    color:white;
    font-size:30px;
    margin-bottom:20px;
}

.about-text p{
    color:#dcdcdc;
    line-height:1.8;
    margin-bottom:15px;
    font-size:18px;
}

.about-btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background:#00d9ff;
    color:black;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:.4s;
}

.about-btn:hover{
    background:white;
    transform:scale(1.05);
}

.about-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.about-image img{
    width:350px;
    height:350px;
    border-radius:50%;
    border:5px solid #00d9ff;
    object-fit:cover;
    box-shadow:0 0 30px #00d9ff;
    transition:.5s;
}

.about-image img:hover{
    transform:scale(1.05);
    box-shadow:0 0 50px cyan;
}

.logo{
    width:70px;
    height:70px;
    background:linear-gradient(135deg,#00d4ff,#0099ff);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    font-weight:bold;
    color:white;
    text-decoration:none;
    font-family:'Poppins',sans-serif;

    border:3px solid #00e5ff;
    box-shadow:0 0 15px #00e5ff,
               0 0 35px #00e5ff;

    transition:0.4s ease;
}

.logo:hover{
    transform:scale(1.1) rotate(360deg);
    box-shadow:0 0 25px #ff0073,
               0 0 50px #ff0073
               ;
}
.certificate-card{
    overflow:hidden;
    transition:0.4s;
}

.certificate-card img{
    transition:0.4s;
}

.certificate-card:hover img{
    transform:scale(1.08);
}

.certificate-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px #00d9ff;
}
.btn:hover{
    background:#00d9ff;
    color:#000;
    transform:scale(1.05);
}

.skill-card{
    opacity:0;
    transform:translateY(-150px);
    animation:dropSkill 0.7s ease forwards;
}

.skill-card:nth-child(1){ animation-delay:0.2s; }

.skill-card:nth-child(2){ animation-delay:0.9s; }

.skill-card:nth-child(3){ animation-delay:1.6s; }

.skill-card:nth-child(4){ animation-delay:2.3s; }

.skill-card:nth-child(5){ animation-delay:3.0s; }

.skill-card:nth-child(6){ animation-delay:3.7s; }

.skill-card:nth-child(7){ animation-delay:4.4s; }

.skill-card:nth-child(8){ animation-delay:5.1s; }

.skill-card:nth-child(9){ animation-delay:5.8s; }

@keyframes dropSkill{

0%{
    opacity:0;
    transform:translateY(-150px);
}

60%{
    opacity:1;
    transform:translateY(15px);
}

100%{
    opacity:1;
    transform:translateY(0);
}

}

.skill-card{
    opacity:0;
    transform:translateY(-100px);
}

.skill-card.show{
    animation:dropSkill 0.7s ease forwards;
}

.contact{
    text-align:center;
    padding:100px 10%;
}

.contact-subtitle{
    color:#bdbdbd;
    margin:15px 0 40px;
}

.contact-card{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.contact-item{
    background:#111827;
    border:2px solid #00e5ff;
    border-radius:18px;
    padding:30px;
    transition:.4s;
}

.contact-item:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #00e5ff;
}

.contact-item i{
    font-size:40px;
    color:#00e5ff;
    margin-bottom:15px;
}

.contact-item h3{
    color:#fff;
    margin-bottom:10px;
}

.contact-item p,
.contact-item a{
    color:#cfcfcf;
    text-decoration:none;
}

.contact-buttons{
    margin-top:45px;
}

.btn,
.btn-outline{
    display:inline-block;
    padding:14px 30px;
    border-radius:30px;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
    transition:.4s;
}

.btn{
    background:#00e5ff;
    color:#000;
}

.btn:hover{
    transform:scale(1.08);
}

.btn-outline{
    border:2px solid #00e5ff;
    color:#00e5ff;
}

.btn-outline:hover{
    background:#00e5ff;
    color:#000;
}

.floating-shape{
    position:absolute;
    border-radius:50%;
    background:rgba(0,229,255,0.15);
    animation:float 6s ease-in-out infinite;
}

.shape1{
    width:80px;
    height:80px;
    top:120px;
    left:50px;
}

.shape2{
    width:60px;
    height:60px;
    top:300px;
    right:120px;
    animation-delay:2s;
}

.shape3{
    width:100px;
    height:100px;
    bottom:50px;
    left:300px;
    animation-delay:4s;
}

@keyframes float{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-20px);
    }
    100%{
        transform:translateY(0);
    }
}
.certificate-card{
    overflow:hidden;
}

.certificate-card img{
    transition:0.5s;
}

.certificate-card:hover img{
    transform:scale(1.1);
}

footer{

    text-align:center;

    padding:40px;

    background:#08111f;

    border-top:2px solid #00d9ff;

}

footer h3{

    color:#00d9ff;

    margin-bottom:10px;

}

footer p{

    color:#ccc;

}

.footer-icons{

    margin:20px 0;

}

.footer-icons a{

    color:#00d9ff;

    font-size:28px;

    margin:0 12px;

    transition:.4s;

}

.footer-icons a:hover{

    color:#fff;

    transform:translateY(-5px);

}

.copyright{

    margin-top:20px;

    font-size:14px;

}

.journey{
    padding:100px 10%;
    background:#08111f;
}

.timeline{
    position:relative;
    max-width:800px;
    margin:auto;
}

.timeline::before{
    content:"";
    position:absolute;
    left:20px;
    top:0;
    width:3px;
    height:100%;
    background:#00d9ff;
}

.timeline-item{
    display:flex;
    align-items:flex-start;
    margin-bottom:40px;
}

.circle{
    width:20px;
    height:20px;
    background:#00d9ff;
    border-radius:50%;
    margin-right:25px;
    box-shadow:0 0 15px #00d9ff;
    flex-shrink:0;
}

.content{
    background:#111827;
    padding:20px;
    border-radius:15px;
    width:100%;
    border:2px solid #00d9ff;
    transition:.4s;
}

.content:hover{
    transform:translateX(10px);
    box-shadow:0 0 20px #00d9ff;
}

.content h3{
    color:#00d9ff;
    margin-bottom:10px;
}

.content p{
    color:#ddd;
    line-height:1.7;
}

.timeline{
    position:relative;
    max-width:900px;
    margin:auto;
}

.timeline::after{

    content:"";

    position:absolute;

    width:4px;

    background:#00d9ff;

    top:0;

    bottom:0;

    left:50%;

    margin-left:-2px;

}

.timeline-item{

    width:50%;

    position:relative;

    padding:20px 40px;

}

.timeline-left{

    left:0;

} 

.timeline-right{

    left:50%;

} 

.content{

    background:#111827;

    border:2px solid #00d9ff;

    border-radius:15px;

    padding:20px;

}

.content:hover{

    transform:scale(1.03);

    box-shadow:0 0 20px #00d9ff;

}

.circle{

    width:18px;

    height:18px;

    background:#00d9ff;

    border-radius:50%;

    position:absolute;

    top:35px;

    right:-9px;

}

.right .circle{

    left:-9px;

}

.badge{
    display:inline-block;
    margin-top:10px;
    padding:6px 12px;
    background:#00d084;
    color:#fff;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.badge{
    display:inline-block;
    margin-top:10px;
    padding:6px 12px;
    background:#00d084;
    color:#fff;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.timeline::after{
    animation:growLine 2s ease forwards;
}

@keyframes growLine{
    from{
        height:0;
    }
    to{
        height:100%;
    }
}